body{
    background-image: url("../images/paper_tile.jpg");
/*    opacity: 0.7;*/
/*    opacity affects all elements on the page, not just the background image*/
    
     font-family: Verdana, Arial, sans-serif;
}

h1, h2, h3, h5, footer {
    text-align: center;
    color: rgb(0,32,96);
}
h5{
    font-weight: normal;
}
nav {
    background-color: rgba(0,32,96,0.9);
    color: blanchedalmond;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    margin-left:-10px;
    margin-top: -10px;
    /* width and margin-left are too ensure black footer covers right-edge to left-edge without parchment bacgkround */
}

nav a{
    padding: 30px;
    color: blanchedalmond;
    text-decoration: none;  
/*    ^ removes underlines from links*/
}

.column{
    margin: 0.5%;
}

#colLeft{
    float: left;
    width: 32%;
    margin-left: 1%;
}

#colCenter{
    float: left;
    width: 32%;
}

#colRight{
    float: left;
    width: 32%;
}

.clearfix{
    display:block;
    clear:both;
    
}

.column img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0,32,96,0.5);
}

footer p{
    font-size: .5em;
    margin-top: 8px;
}

#divider{
    height: 3px;
    background-color: rgba(0,32,96,0.9);
}